/* color scheme
#FBFEF9 white
#191923 black
#EFA00B orange
#0E79B2 blue
#EDD3C4 tan
*/

body {
	background-color: #FBFEF9;
}

header {
	padding-bottom: 10px;
	margin: 0 auto;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -32px;
	background-color: #EDD3C4;
}

h1 {
	color: #0E79B2;
	font-size: 3em;
	text-align: center;
	padding-top: 10%;
	font-family: "Shree Devanagari 714", Helvetica, Georgia, Sans-serif;
}

hr {
	display: block;
	border: none;
	background-color: #EFA00B;
	width: 30%;
	height: 3px;
	margin-bottom: 40px;
}

#intro {
	color: #191923;
	font-size: 1em;
	text-align: center;
	font-family: "Shree Devanagari 714", Helvetica, Georgia, Sans-serif;
	margin-left: 15%;
	margin-right: 15%;
}

h2 {
	color: #EFA00B;
	text-align: center;
	font-family: "Shree Devanagari 714", Helvetica, Georgia, Sans-serif;
	font-size: 2em;
	margin-top: 10%;
}

h3 {
	color: #FBFEF9;
	text-align: center;
	font-size: 1.5em;
	font-family: "Shree Devanagari 714", Helvetica, Georgia, Sans-serif;
	border: 2px solid;
	border-color: #0E79B2;
	border-radius: 25px;
	width: 15%;
	margin: 0 auto;
	background-color: #0E79B2;
	padding-top: 4px;
	margin-top: 15%;
}

#arrow {
	width: 0; 
 	height: 0; 
 	border-left: 20px solid transparent;
 	border-right: 20px solid transparent;
  	border-top: 20px solid #0E79B2;
  	text-align: center;
  	margin: 0 auto;
  	margin-top: 1%;
}






























